body{font-size: 32px;
     background:linear-gradient(to bottom, #f99507, #f9e917);
    margin-bottom: -10px;
}
.content{
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
p { color:  navy; }
header {
    width:100%
    display: block;
    background: linear-gradient(to bottom, #f93906, #f9e917);
    margin:-7px;
}

.header-bg img {
    position: relative;
    top: 40px;
    left: 250px;
}
.header-bg {
     background: url(http://1.bp.blogspot.com/-mSJHbT6jaZE/U3JTCw1VB0I/AAAAAAAAEUg/I3cWhnz_vOc/s1600/pixel_skyline_silhouette_by_mirz_alt-d3fj8tp.png)  repeat-x center bottom;
     height: 255px;
 }
aside {
    background: #f0aa2a;
    padding: 10px;
    width: 200px;
    float: right;
    font-size: 20px;
    border: solid 5px saddlebrown;
    text-decoration: underline;
}
aside p{font-family: Geneva, Arial, Helvetica, sans-serif;
        color: black;}
article {
    margin-right: 200px;
    display: block;
}
figure {
    background: #5f6a72;
    padding: 10px;
    display: block;
    width: 250px;
    float: left;
    margin: 0 10px 10px 0;
    text-align: center;
}
figcaption {
    color: #fff;
}
section{margin-right: 200px;}
footer{
    height: 150px;
    background: linear-gradient(to top,forestgreen, #f9e917);
    margin-right:-7px;
    margin-left:-7px;
}
.foter{
    position: relative;
    bottom: -100px;
    text-align: center;
    }